:root {
  --White: #ffffff;
  --RoseWhite: #fae5f7;
  --Eggshell: #f2e6d8;
  --LightGrey: #e2d5ca;
  --WengeBrown: #4e3c35;
  --DarkCharcoal: #2c2b38;
  --Nutmeg: #7a4a2d;
  --DarkRaspberry: #4e2542;
  
}
